<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="NODE_ENV" value="production" />
	</appSettings>
	<system.webServer>
		<handlers>
			<add name="iisnode" path="/entrypoint.cjs" verb="*" modules="iisnode"/>
			<remove name="WebDAV"/>
		</handlers>
		<!-- <modules> -->
			<!-- <remove name="WebDAVModule"/> -->
		<!-- </modules> -->
		<rewrite>
			<rules>
				<rule name="nodejs">
					<match url="(.*)"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
					</conditions>
					<action type="Rewrite" url="/entrypoint.cjs"/>
				</rule>
			</rules>
		</rewrite>
		<security>
			<requestFiltering>
				<hiddenSegments>
					<add segment="node_modules"/>
					<add segment="iisnode"/>
				</hiddenSegments>
			</requestFiltering>
			<authorization>
				<remove users="*" roles="" verbs=""/>
				<add accessType="Allow" users="*" verbs=""/>
			</authorization>
		</security>
		<httpErrors errorMode="Detailed">
			<remove statusCode="501" subStatusCode="-1"/>
			<remove statusCode="500" subStatusCode="-1"/>
			<remove statusCode="431" subStatusCode="-1"/>
			<remove statusCode="401" subStatusCode="-1"/>
			<remove statusCode="412" subStatusCode="-1"/>
			<remove statusCode="406" subStatusCode="-1"/>
			<remove statusCode="405" subStatusCode="-1"/>
			<remove statusCode="404" subStatusCode="-1"/>
			<remove statusCode="403" subStatusCode="-1"/>
			<remove statusCode="502" subStatusCode="-1"/>
		</httpErrors>
	</system.webServer>
	<system.web>
		<customErrors mode="Off"/>
	</system.web>
</configuration>